/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

body{
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

h1{
    color: #E53170;
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
}

.paragraph{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;

}

img{
    width: 100px;
}

.floats{
    float: left;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.single-box{
    color: white;
    background-color: #0F0E17;    
    width: calc(100% / 3 - 20px);
    margin-left: 10px;
    margin-right: 10px;  
}

.colums{
    width: auto;
}

.center-box{
    
   
}

div.colums{
    background-color: white;
}





/* LAYOUT */




/* MAIN */






/* DEBUG */

.debug{
    border: 1px solid red;
}

